<div class="nav">
    
    <!-- checkbox bandera para el button hamburger -->
    <input type="checkbox" id="nav-check">
    
    <div class="nav-header">
      <div class="nav-title">
        4ri4s
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="//github.io/4ri4s" target="_blank">Home</a>
      <a href="#" target="_blank">About Me</a>
      <a href="#" target="_blank">Skills</a>
      <a href="#" target="_blank">Contact</a>
    </div>
</div>